.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 60rem;
  height: 100%;
  align-items: center;
  margin: 1rem;
  background-color: rgb(255, 214, 218);

  align-items: center;
}

.form-input {
  width: 30rem;
  margin: 1rem;
}
