<div class="container">
  <ng-container *ngIf="book">
    <mat-card class="example-card" mat-elevation-z8>
      <mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.subtitle }}</mat-card-subtitle>
        <mat-card-subtitle>Authors :{{ book.authors }}</mat-card-subtitle>
        <mat-card-subtitle>Year :{{ book.year }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="image" [src]="book.image" />
      <mat-card-content>
        <p>
          {{ book.desc }}
        </p>
      </mat-card-content>

      <mat-card-subtitle>Rating :{{ book.rating }}</mat-card-subtitle>
      <mat-card-subtitle>Pages :{{ book.pages }}</mat-card-subtitle>

      <mat-card-actions>
        <button mat-button color="primary" (click)="onBack()">Back</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
